<header>SHORTEN THE URL!</header>

<% if (user === undefined){ %>
<a href="/login"> Login</a>

<a href="/register">Register</a>

<% }else { %>
<h3><%= user.username %></h3>
<form method="POST" action="/logout">
  <button>Logout</button>
</form>
<% } %>


