<header>SHORTEN THE URL!</header>

<% if (user === undefined){ %>
<form method="POST" action="/login">
  Login <input type="text" name="username"><button>submit</button>
</form>

<% }else { %>
<h3><%= username %></h3>
<form method="POST" action="/logout">
  <button>Logout</button>
</form>
<% } %>