<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="POST" action="/register">
  <h1>Register</h1>
  Email <input type="email" name="email">
  Password <input type="password" name="password">
  <button>submit</button>
</form>
</body>
</html>